<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml11.dtd">
<html>
<head>
    {% block header %}
    <title>Order</title>
    {% endblock %}
    <script src="/static/jquery.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js.js"></script>
    <link re="stylesheet" type="text/css" href="stylesheet.css" />
</head>
<body>
    {% block body %}
        body
    {% endblock %}
</body>
</html>

