{% extends 'base.html' %}
{% block body %}

<div id="divQt" class="content">
    Quantos valores?<br />
    <form><input type="text" id="inputQt"> <input type="submit" id="subQt"></form>
</div>
<div id="divValues" class="content">
    Digite os valores para ordenar:<br />
    <form>
        <div id="divFields"></div>
        <input type="submit" id="subValues">
    </form>
</div>
<div id="divResult" class="content">
    <div id ="divRes">
        resultado
    </div>
    <div id="chart_div"></div>
    <p><a href="/order/">Reiniciar</a></p>
</div>
{% endblock %}

